.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #0B0819 !important;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    margin-right: 2rem;
    list-style-type: none;
}

.nav-links-elements {
    border-bottom: 1rem blue;
    color: blue !important;
}

.nav-links-elements {
    color: #5A5A5A !important;
    text-decoration: none !important;
}

.nav-links-elements:hover {
    color: blue;
}


.connect-wallet-btn {
    background: linear-gradient(94.37deg, #3387D5 -5.94%, #7A06C9 115.34%);
border-radius: 30px;
color: white;
border: none;
padding: 0.5rem 1rem;
}

  /* Small screens */
@media only screen and (max-width: 600px) {
    /* Hide the navbar links */
    .navbar-links {
      display: none;
    }
    /* Show the hamburger button */
    .hamburger-button {
      display: block;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 601px) {
    /* Show the navbar links */
    .navbar-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    /* Hide the hamburger button */
    .hamburger-button {
      display: none;
    }
  }
  
  